/* Hidden placeholder */
select option[disabled]:first-child {
	display: none;
}

button.prev-step {
  margin-right: 10px;
}

textarea {
    resize: none;
}

.form-group.required .control-label:after {
   content:"*";
   color:red;
}
