/* Hidden placeholder */
select option[disabled]:first-child {
	display: none;
}

div.fixed > button {
  margin-right: 10px;
}

textarea {
    resize: none;
}

.form-group.required .control-label:after {
   content:"*";
   color:red;
}

.fixed {
  position: sticky;
  bottom: 0px;
  background-color: rgb(238, 238, 238);
  padding: 10px 0px;
}
