/* Hidden placeholder */
select option[disabled]:first-child {
	display: none;
}

div.fixed > button {
  margin-right: 10px;
}

textarea {
    resize: none;
}

.form-group.required .control-label:after {
   content:"*";
   color:red;
}

.fixed {
  background-color: white;
  padding: 10px 0px;
}

.prev-step {
  float: left;
}

.next-step {
  float: right;
}
