.text.container {
  font-size: 140%;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  margin-bottom: 1.5em;
}

.text.container p {
  margin-top: 1.5em;
}

.text.container small {
  display: block;
}

#tracking-optout {
	width: 100%;
	height: 115px;  /* in pixels because Piwik sets the font-size */
	border-radius: 5px;
	background-color: white;
}

@media (max-width: 767px) {
	#tracking-optout {
		height: 210px;  /* in pixels because Piwik sets the font-size */
	}
}
