.header-content {
  text-align:center;
  margin-bottom: 80px;
  margin-top: 80px;
}

.header-content hr {
  border-color: #337ab7;
  border-width: 3px;
  width: 15%;
}

.header-content p.header-sub-content {
  font-size: 30px;
}

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

html, body {
    height: 100%;
}

#app {
  height: 100%;
}

.fill {
  height: 100%;
}

.home {
  display: table;
}

footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

.back-content {
  margin-top: 25px;
}

.committee-panel {
  margin-top: 20px;
}

.help-block {
  margin: 10px;
}

.clickable {
  cursor: pointer;
}

.filter-panel > .panel-heading {
  padding: 0;
}

.filter-panel-header a {
  cursor: pointer;
  display: block;
  padding: 10px  15px;
}
