html, body {
    height: 100%;
}

#app {
  height: 100%;
}

.fill {
  height: 100%;
}

.home {
  display: table;
}

footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

.back-content {
  margin-top: 25px;
}

.committee-panel {
  margin-top: 20px;
}

.help-block {
  margin: 10px;
}

.clickable {
  cursor: pointer;
}

.filter-panel > .panel-heading {
  padding: 0;
}

.filter-panel-header a {
  cursor: pointer;
  display: block;
  padding: 10px  15px;
}
